.item{
  position: relative;
  background: #f5f5f5;
  flex: 1 1 300px;
  max-width: 400px;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #c4c4c4;
  align-items: center;


  &__task{
    font-size: 18px;
    word-wrap: break-word;
    overflow-x: hidden;
    display: flex;
    max-width: 70%;
  }

  &__text{
    margin: 0;
    padding: 0;
  }

  &__done{
    display: flex;
    align-items: center;
  }


  &__completed{
    text-decoration: line-through;
    color: #868686;
  }

  &__deletebtn{
    position: absolute;
    background: #f5f5f5;
    border:none;
    font-size: 24px;
    cursor: pointer;
    right: 10px;

    &:active, &:focus{
      outline: none;
    }

    &:hover{
      background: #fd3838;
    }
  }

}

input[type="checkbox"]{
  width: 18px;
  height: 18px;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 20px;
}